In [1]:
import pandas as pd

In [3]:
df_empresas = pd.read_csv('../../CNPJ-full/data/empresas.csv', usecols=['cnpj', 'situacao'])

In [6]:
df_empresas.situacao.value_counts(normalize=True)
# 2 - Ativa
# 8 - Baixada
# 4 - INAPTA 
# 3 - Suspensa
# 1 - NULA

2    0.452815
8    0.450075
4    0.091117
3    0.004117
1    0.001876
Name: situacao, dtype: float64

In [12]:
df_empresas.loc[df_empresas.situacao == 4].sample(10)

                    cnpj  situacao
1255150    1175037000113         4
21732379  20832330000150         4
27539670  26564318000199         4
35260532  40835514000181         4
23391571  22465733000134         4
6061399    5678926000154         4
960173      899886000157         4
10093218   9424058000137         4
11616726  10918502000150         4
38317809  71680284000152         4